@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1613289519468'); /* IE9 */
  src: url('iconfont.eot?t=1613289519468#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKAAAsAAAAABjgAAAI2AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApEWwE2AiQDCAsGAAQgBYRtBzAbgQXIrjBu4UkbIlmggxaHAp+vGQ7yQATRfr/Ze4eJRKJoFk1kPDSvJEiJUOnEn+mayW/q5g/TLfIvPpb9V+fbOKLtBRZwh9tCvKQLCYukN0tottvwPWLJ/OXSDxhg+ZJhyckn7p3+UUCBzAeUyxyTJnUBdXEgBbgXRpEVSeQNYxe8wMcE6g0j4PbjF3KazF4ViJuKppxWiMgyy9cK1Q0Hs3hVpTY9Jzgv0ffjjxsaSVXBbto7uxfc6YtTVDyVvdOAECWg41UosAjIxFFjZocoGAurz0jGgWPVB1/KP7CJo5oF++vs2kYwCLPBF2+lAAkea6JG9E+6lGi8jQsSYhFRTIh3q2/sCANVTCWZ8xtF3u9wJxzKSvFWBCL4yHuW/2sbMvh8KwqVlWyYD6jdgzf4E9KBfdmQ29aUNWnjcNJ4hpZ69SjhQLt3qqHrtIVQq2uCr8ZQhkKtSTIzF1GlwRKq1VpDvQX6eIMODVHkOsxbAEKrFUmzdxRabWRmPqjS7UO11hBR7yQ6LmwwHZWxNWI6YwHmgJyznrj22YjrfaRLm455ecSOcZyqOEjTLuef2OO4xJZ2pW43Ewgj60CB57BtGZSR1ZjPZprnv8ct0vQm07KOM2wZodQMFYBxAFmO6ZFg9MyofN6HqEUrNXb01AVjaDSppgcSIwaQT00/qOdRXmmtKFdnRoBgxHSAAvNQq8WA0jyvhnIzU5qQ+vNwZ1AYqjG313V/dwzq2cYUzqxC9fmS9lnFcQ==') format('woff2'),
  url('iconfont.woff?t=1613289519468') format('woff'),
  url('iconfont.ttf?t=1613289519468') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1613289519468#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e70c";
}

